################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/INS Website/v16/TestStore/0/000.testlog
/.vs/INS Website/v16/TestStore/0/testlog.manifest
/nbproject/private/config.properties
/nbproject/private/private.properties
/nbproject/private/private.xml
/.user.ini
/INS Website.phpproj
/INS Website.phpproj.user
/INS Website.sln
/.vs/INS Website/v16/.suo
/.vs/PublishProfiles/staging.insnj.com on IS.phppub.user
/.vs/PublishProfiles/staging.insnj.com on IS.phppub
/.vs/INS Website/config/applicationhost.config
